@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    --height-progress: 4px;
    --border-radius-progress: 20px;
    --width-circle: 12px;
}

.player {
    display: flex;
    align-items: center;
    z-index: 900;

    position: fixed;
    width: 100%;
    height: 70px;

    bottom: 0;   
    left: 0;

    background-color: black;
}

.player__song {
    display: flex;
    align-items: center;

    img {
        height: 56px;
        width: 56px;
        border-radius: 15%;
    }
}

.player__song-container {
    display: flex;
    align-items: center;
    gap: 1vw;

    .icon {
        cursor: pointer;
        user-select: none;
        width: 25px;
        height: 25px;
    }

    padding-left: 10px;
}

.player__song-text {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    gap: 0.2vw;

    .song-name {
        font-size: 14px;
        font-family: 'Inter';
        font-weight: bold;
        user-select: none; 
        color: white;
    }

    .artist {
        font-size: 14px;
        font-family: 'Inter';
        font-weight: 300;
        user-select: none; 
        color: white;
    }
}

.player__container {
    display: grid; 
    grid-template-columns: auto auto auto;
    width: 100%;

    padding-left: 10px;
    padding-right: 20px;
}

.player__widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player__controls {
    display: flex;

    .icon {
        cursor: pointer;
        user-select: none;
        height: 20px;
        width: 20px;
    }
 
    gap: clamp(10px, 2vw, 39px);
}

.player__progress-container {
    display: flex;
    align-items: center;
    gap: 1vw;

    span {
        color: white;
        user-select: none;
    }

    .rectangle {
        position: relative;
        display: flex;
        align-items: center;
        width: clamp(200px, 30vw, 500px);
        height: var(--height-progress);
        border-radius: var(--border-radius-progress);
        background-color: white;

        .rectangle-prev {
            position: absolute; 
            width: 0px;
            left: 0;
            height: var(--height-progress);
            border-radius: var(--border-radius-progress);
            background-color: #1F68F2;
        }

        .circle {
            display: none;
            position: absolute;
            left: 0; 
            height: var(--width-circle);
            width: var(--width-circle);
            border-radius: 50%;
            background-color: #1F68F2;
        }
    }
}

.rectangle:hover {
    cursor: pointer;
    .circle {
        display: block;
    }
}

.player__tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;

    .icon {
        cursor: pointer;
        user-select: none;
        height: 20px;
        width: 20px;
    }

    .rectangle-volume {
        position: relative;
        display: flex;
        align-items: center;
        background-color: white;
        height: var(--height-progress);
        border-radius: var(--border-radius-progress);
        width: clamp(10px, 5vw, 100px);

        .rectangle-prev {
            position: absolute;
            left: 0;
            width: 0px;
            height: var(--height-progress);
            border-radius: var(--border-radius-progress);
            background-color: #1F68F2;
        }

        .circle {
            position: absolute;
            left: 0;
            display: none;
            cursor: pointer;
            height: var(--width-circle);
            width: var(--width-circle);
            border-radius: 50%;
            background-color: #1F68F2;
        }
    }
}

.rectangle-volume:hover {
    cursor: pointer;
    .circle {
        display: block;
    }
}

.rectangle:hover .circle,
.rectangle.dragging .circle {
  display: block;
}
  