@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.player {
    display: flex;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 70px;

    bottom: 0;   
    left: 0;

    background-color: black;
}

.player__song {
    display: flex;
    align-items: center;

    img {
        height: 56px;
        width: 56px;
        border-radius: 15%;
    }
}

.player__song-container {
    display: flex;
    align-items: center;
    gap: 1vw;

    .icon {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }

    padding-left: 10px;
}

.player__song-text {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    gap: 0.2vw;

    .song-name {
        font-size: 14px;
        font-family: 'Inter';
        font-weight: bold;
        user-select: none; 
        color: white;
    }

    .artist {
        font-size: 14px;
        font-family: 'Inter';
        font-weight: 300;
        user-select: none; 
        color: white;
    }
}

.player__container {
    display: grid; 
    grid-template-columns: auto auto auto;
    width: 100%;

    padding-left: 10px;
    padding-right: 20px;
}

.player__widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player__controls {
    display: flex;

    .icon {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
 
    gap: clamp(10px, 2vw, 39px);
}

.player__progress-container {
    display: flex;
    align-items: center;
    gap: 1vw;

    span {
        color: white;
    }

    .rectangle {
        display: flex;
        align-items: center;

        .rectangle-prev {
            width: 140px;
            height: 2px;
            background-color: #1F68F2;
        }

        .circle {
            cursor: pointer;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #1F68F2;
        }

        .rectangle-next {
            width: 140px;
            height: 2px;
            background-color: white;
        }
    }
}

.player__tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;

    .icon {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }

    .rectangle-volume {
        display: flex;
        align-items: center;

        .rectangle-prev {
            width: clamp(5px, 2.5vw, 40px);
            height: 2px;
            background-color: #1F68F2;
        }

        .circle {
            cursor: pointer;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #1F68F2;
        }

        .rectangle-next {
            width: clamp(5px, 2.5vw, 40px);
            height: 2px;
            background-color: white;
        }
    }
}

